    <section class="footer">
        <div class="container">
            <p>Photo by Roman Mager on <a href="http://unsplash.com">Unsplash</a>.</p>
            <p>Photo by wu yi on <a href="http://unsplash.com">Unsplash</a>.</p>
            <a class="text-white" href="http://github.com/mjhibbard"><i class="fa fa-github-square" aria-hidden="true"></i></a>
            <i class="fa fa-linkedin-square" aria-hidden="true"></i>
        </div>
    </section>
</body>
</html>