    <section class="footer">
        <div class="container">
            <p>Photo by Roman Mager on <a href="http://unsplash.com">Unsplash</a>.</p>
            <p>Photo by wu yi on <a href="http://unsplash.com">Unsplash</a>.</p>
        </div>
    </section>
</body>
</html>