<% include ./partials/header %>

<section class="splash" id="about">
    <div class="container">
        <div class="jumbotron" id="hero">
            <h1 class="display-2">I'm Michael Hibbard, your new hire.</h1>
            <p class="lead">Full Stack Web Developer. I'm looking to break into the web development industry.</p>
            <hr class="my-4">
            <p>My background is in Mathematics</p>
        </div>
    </div>
    <div class="image overlay">
        <img class="d-block w-100 h-100" src="images/mathclock.jpg" alt="Mathematics clock image">
    </div>
</section>

<section class="second" id="about">
    <div class="container">
        <div class="shadow-lg p-3 mb-5 rounded">
        <h5>About Mike</h5>
        <p class="lead">More information about me.</p>
        <p>
            Lorem ipsum dolor amet fashion axe slow-carb ut readymade literally offal 8-bit la croix tousled pariatur bushwick hexagon. Mustache coloring book cloud bread salvia farm-to-table officia dolore taiyaki copper mug kogi pour-over tousled skateboard direct trade art party. Tumeric poutine cronut, veniam chillwave bespoke magna typewriter hoodie prism. Bitters bushwick edison bulb laboris brunch, put a bird on it consectetur aliquip raclette gluten-free drinking vinegar shoreditch pork belly scenester anim. Reprehenderit trust fund knausgaard, pickled tofu magna kitsch organic do eiusmod consequat keytar.

            Tousled truffaut VHS, meditation woke chartreuse 90's activated charcoal velit ut try-hard selvage 8-bit. Esse twee next level offal iceland id. In voluptate keffiyeh, crucifix vaporware bicycle rights eu banh mi lyft kombucha literally. Neutra marfa occupy, migas humblebrag fanny pack taxidermy. Hella try-hard ullamco tilde single-origin coffee, skateboard consequat cold-pressed 3 wolf moon thundercats tofu irure. Subway tile locavore dreamcatcher, velit hammock 8-bit portland sustainable. Aesthetic est iPhone tumeric succulents hot chicken organic.

            Seitan squid cronut stumptown, pour-over fam lo-fi affogato. Chambray kogi meditation, tbh actually salvia 3 wolf moon celiac mumblecore. Single-origin coffee PBR&B gentrify cred neutra esse poke bespoke VHS succulents taiyaki magna health goth twee sustainable. Aute copper mug fixie hella exercitation snackwave. Disrupt four dollar toast viral microdosing. La croix wolf helvetica, chia umami live-edge leggings est esse ad in you probably haven't heard of them velit.

            PBR&B vinyl aliquip, meggings sustainable nulla direct trade anim ea thundercats health goth bitters copper mug est. Migas aesthetic seitan, pariatur williamsburg chia skateboard eu cray aute gentrify slow-carb neutra velit. Pork belly duis ipsum salvia, distillery direct trade fanny pack chia small batch. Chartreuse raclette proident, voluptate nostrud pour-over echo park freegan mumblecore art party waistcoat roof party direct trade artisan. Blue bottle ethical ea, locavore aute jianbing air plant officia waistcoat. Ea tofu farm-to-table, mollit kinfolk you probably haven't heard of them readymade ethical single-origin coffee next level. Leggings umami YOLO 3 wolf moon pop-up street art direct trade poke pour-over normcore pinterest tacos.
        </p>
        </div>
    </div>
</section>


<% include ./partials/footer %>