<% include ./partials/header %>

<section class="splash">
    <div class="container">
        <div class="jumbotron" id="hero">
            <h1 class="display-2">I'm Michael Hibbard, your new hire.</h1>
            <p class="lead">Full Stack Web Developer looking to break into web development.</p>
            <hr class="my-4">
            <p>Studying Mathematics, American Sign Language, Linguistics, Computer Programming. I have a knack with languages.</p>
        </div>
    </div>
    <div class="image overlay">
        <img class="d-block w-100 h-100" src="images/mathclock.jpg" alt="Mathematics clock image">
    </div>
</section>

<section class="second" id="about">
    <div class="container white-back shadow">
        <div class="p-3 mb-5">
            <h5>About Mike</h5>
            <p class="lead">More information about me.</p>
            <p>
                You're looking at a site designed and built, back end to front end, by me.
                Since you are here, let me tell you about myself.
                Nearly a year ago, a college friend and former roommate suggested I look into the field of web development.
                Since this friend and I had taken so many classes together and we know how each other's thinking processes work, I decided to take a long look at what web development is and how it works.
                This friend's advice was spot on. I dove in head first and here we are now.
                I’ve learned all you see here and more since then. And more importantly: I’m continually to learn more and more.   
            </p>
        </div>
    </div>
</section>


<% include ./partials/footer %>