<% include ./partials/header %>

<section class="splash">
        <div class="container">
            <div class="jumbotron" id="hero">
                <h1 class="display-2">Michael Hibbard</h1>
                <p class="lead">Full Stack Web Developer. Always learning, looking to improve.</p>
                <hr class="my-4">
                <p>Thanks for visiting my site and taking a peak at my work!</p>
            </div>
        </div>
        <div class="image overlay">
            <img class="d-block w-100 h-100" src="images/connect-with-me.jpg" alt="iPhone/coding screen image">
        </div>
    </section>
    
    <section class="second" id="about">
        <div class="container white-back shadow">
            <div class="p-3 mb-5">
                <h5>Contact Me</h5>
                <p class="lead">Here is my contact information:</p>
                
            </div>
        </div>
    </section>
    

<% include ./partials/footer %>