<% include ./partials/header %>


<section class="splash" id="home">
    <div class="container">
        <div class="jumbotron hero">
            <h1 class="display-1">Full Stack Web Developer</h1>
            <hr class="my-4">
            <p class="hero-sub-header">I'm Mike Hibbard. I'm trying to encode myself into the web development industry.</p>
        </div>
    </div>
    <div class="image overlay">
        <img class="d-block w-100 h-100" src="images/mathboard.jpg" alt="Mathematics image">
    </div>
</section>

<section class="second" id="about">
    <div class="container white-back shadow">
        <div class="section__wrap">
            <h4 class="section-title">Who is Mike Hibbard?</h4>
            <ul class="list-unstyled">
                <li class="media media--who">
                    <img class="img-thumbnail img-profile" src="../images/mike-personality2.jpg" alt="Mike Hibbard">
                    <div class="media-body">
                        <p class="media-card-copy">
                            You're looking at a site designed and built, back end to front end, by me, Mike.
                            Since you are here, let me tell you about myself:</p>
                        <p class="media-card-copy">Early in 2018, my college friend and former roommate, Nick, suggested I look into the field of web development.
                            Since Nick and I had taken so many classes together and we know how each other think and our problem-solving processes work, I decided 
                            to take a long look at what web development is and how it works.
                        </p>  
                        <p class="media-card-copy">
                            Nick's advice was spot on. The more I looked into web development, the more intrigued and excited I got about the 
                            possibilities of this career. I dove in head first.
                            I have learned so much, but more importantly: I’m constantly learning and absolutely loving it. 
                        </p>
                    </div>
                </li>       
            </ul>
        </div>
    </div>
</section>


<section class="third" id="skills">
    <div class="container white-back shadow">
        <div class="section__wrap">
            <h4 class="section-title">Skills</h4>
            <p class="section-subtitle section-subtitle__margin">Take a peek at what my skills are:</p>
                <div class="skill-medal__wrap">

                    <div class="skill-medal-img__wrap">
                        <img src="../images/javascript.png" alt="JavaScript" class="skills-section-img">

                    </div>
                    <div class="skill-medal-img__wrap">
                        <img src="../images/html5-image.png" alt="HTML5" class="skills-section-img">

                    </div>
                    
                    <div class="skill-medal-img__wrap">
                        <img src="../images/css3-image.png" alt="CSS3" class="skills-section-img">

                    </div>
                    <div class="skill-medal-img__wrap">
                        <img src="../images/rest-api-image.png" alt="RESTful API" class="skills-section-img">
                        
                    </div>
                    <div class="skill-medal-img__wrap">
                        <img src="../images/react-image.png" alt="React.js" class="skills-section-img">
                        
                    </div>

                    <div class="skill-medal-img__wrap">
                        <img src="../images/vue-image.png" alt="Vue.js" class="skills-section-img">
                        
                    </div>
                    <div class="skill-medal-img__wrap">
                        <img src="../images/node-image.png" alt="Node.js" class="skills-section-img">

                    </div>
                </div>

            <!-- Nav tabs -->
            <ul class="nav nav-tabs" id="myTab" role="tablist">
                <li class="nav-item skills-table-tabs__copy">
                    <a class="nav-link active" id="hardSkill-tab" data-toggle="tab" href="#hardSkill" role="tab" aria-controls="hardSkill" aria-selected="true">Aquired</a>
                </li>
                <li class="nav-item skills-table-tabs__copy">
                    <a class="nav-link" id="learning-tab" data-toggle="tab" href="#learn" role="tab" aria-controls="learn" aria-selected="false">Aquiring</a>
                </li>
                <li class="nav-item skills-table-tabs__copy">
                    <a class="nav-link" id="softSkill-tab" data-toggle="tab" href="#softSkill" role="tab" aria-controls="softSkill" aria-selected="false">Soft Skills</a>
                </li>
                <li class="nav-item skills-table-tabs__copy">
                    <a class="nav-link" id="progLan-tab" data-toggle="tab" href="#progLan" role="tab" aria-controls="progLan" aria-selected="false">Coding Languages</a>
                </li>
            </ul>

            <div class="tab-content">
                
                <div class="tab-pane fade show active" id="hardSkill" role="tabpanel" aria-labelledby="hardSkill-tab">
                    <div class="row">
                        <div class="col-md-3 col-6">
                            <ul class="skills-table__copy">
                                <li>ES6+/ES2017</li>
                                <li>Express.js</li>
                                <li>Node.js/NPM</li>
                                <li>APIs</li> 
                                <li>MongoDB</li>
                            </ul>
                        </div>
                        <div class="col-md-3 col-6">
                            <ul class="skills-table__copy">
                                <li>SCSS/SASS</li>
                                <li>RESTful Routing</li>
                                <li>AJAX</li>
                                <li>React.js</li>
                                <li>Vue.js</li>
                            </ul>
                        </div>
                        <div class="col-md-3 col-6">
                            <ul class="skills-table__copy">
                                <li>Bootstrap</li>
                                <li>jQuery</li>
                                <li>EJS</li>
                                <li>JSON/XML</li>
                                <li>D3</li>
                            </ul>
                        </div>
                        <div class="col-md-3 col-6">
                            <ul class="skills-table__copy">
                                <li>Wordpress</li>
                                <li>Ionic</li>
                                <li>Gulp.js</li>
                                <li>Optimization</li>
                                <li>Awesomeness</li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="tab-pane fade" id="softSkill" role="tabpanel" aria-labelledby="softSkill-tab">
                    <ul class="skills-table__copy">
                        <li>Adaptability</li>
                        <li>Work ethic</li>
                        <li>Problem solving</li>
                        <li>Critical thinking</li>
                        <li>Perseverance</li>
                    </ul>
                </div>
                <div class="tab-pane fade" id="progLan" role="tabpanel" aria-labelledby="progLan-tab">
                    <ul class="skills-table__copy">
                        <li>JavaScript</li>
                        <li>HTML5</li>
                        <li>CSS</li>
                        <li>Command Line/Linux</li>
                        <li>PHP</li>
                    </ul>
                </div>
                <div class="tab-pane fade" id="learn" role="tabpanel" aria-labelledby="learning-tab">
                    <ul class="skills-table__copy">
                        <li>Python 3</li>
                        <li>React Native</li>
                        <li>Flutter</li>
                        <li>Angular JS</li>
                        <li>Other Cool-looking Tech</li>
                    </ul>
                </div>
            </div>

            <!-- <hr class="my-4"> -->

            <!-- <div>
                <p>A little about the path I've taken with my skills to get me here in this present circumstance that is not laid out in the about section.</p>
            </div> -->
            
            <!-- Button trigger modal -->
            <!-- <button type="button" class="btn btn-lg btn-secondary mb-3 animated infinite pulse slow" data-toggle="modal" data-target="#resumePane">
                    Resum&eacute;
            </button> -->
            
            <!-- Modal -->
            <div class="modal fade" id="resumePane" tabindex="-1" role="dialog" aria-labelledby="resume" aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title text-dark" id="resume">Resum&eacute;</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body text-dark">
                            <p>Thank you for your interest, choose download for my resum&eacute;.</p>
                            <p>For my contact information <a href="/contact">click here</a>.</p>
                            <p>Sincerely,</p>
                            <p>Mike Hibbard</p>
                        </div>
                        <div class="modal-footer">
                            <a role="button" class="btn btn-secondary" href="/resume">Download</a>
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


<section class="fourth" id="work">
    <div class="container white-back shadow">
        <div class="section__wrap">
            <h4 class="section-title">Projects</h4>
            
            <ul class="list-unstyled">
                <h5 class="sub-header">The Grove Community Church 2.0</h5>
                <li class="media">
                    <img class="img-thumbnail" src="images/NewGroveHome.PNG" alt="The Grove Church version 2">
                    <div class="media-body">
                        <p class="media-card-copy">In search of professional experience I approached a local church and coffee house to build a full stack website for them- free of charge.</p>
                        <p class="media-card-copy">After constructing most of the site in Bootstrap, I was not satisfied with the 
                            look and feel of the site. Since I wasn't happy, I knew my client wouldn't be either. So I started over.</p>
                        <p class="media-card-copy">Without utilizing Bootstrap, my decision to redesign catalyzed what you see now.</p>
                        <p class="media-card-copy">This project is live and can be found at <a href="http://www.indygrove.church">indygrove.church</a>.</p>
                    </div>
                </li>
                <h5 class="sub-header">The Grove Community Church</h5>
                <li class="media">
                    <img class="img-thumbnail" src="images/GroveConstructSplash.PNG" alt="The Grove Church version 1">
                    <div class="media-body">
                        <p class="media-card-copy">As of January 2019, this project was the culmination of my web development skills.</p>
                        <p class="media-card-copy">Here you see the original design and feel of the website.</p>
                    </div>
                </li>
                <h5 class="sub-header">SPA - Todo API with MongoDB</h5>
                <li class="media">
                    <img class="img-thumbnail" src="images/todoApp.jpg" alt="Todo App">
                    <div class="media-body">
                        <p class="media-card-copy">This Single Page App is built in JS utilizing some jQuery and data persistence. A full stack set up with NPM modules: Express, Mongoose and MongoDB.</p>
                        <p class="media-card-copy">Later, this project was revisited: Utilizing the API written initially, a React frontend was built with the API backend and required the use of cross origin resource sharing.</p>
                    </div>
                </li>
                <h5 class="sub-header">RESTful Blog App</h5>
                <li class="media">
                    <img class="img-thumbnail" src="images/BlogHome.jpg" alt="Blog App">
                    <div class="media-body">
                        <p class="media-card-copy">This Blog App is built with Express and MongoDB. This app showcases the RESTful architecture with the CRUD data manipulation when handling the data persistence.</p>
                    </div>
                </li>
                <h5 class="sub-header">Recipe App&mdash;React</h5>
                <li class="media">
                    <img class="img-thumbnail" src="images/RecipeReactApp.jpg" alt="React Recipe App">
                    <div class="media-body">
                        <p class="media-card-copy">This Recipe App is constructed with the help of the NPM module create-react-app, this application marks the beginning of my learning of React.js.</p>
                        <p class="media-card-copy">This app undergoes many stages, beginning with basic default props and modifying the code later for app-level state.</p>
                    </div>
                </li>
                <h5 class="sub-header">Warbler&mdash;Social App with React</h5>
                <li class="media">
                    <img class="img-thumbnail" src="images/WarblerSplashSignupSignin.PNG" alt="Warbler Social App">
                    <div class="media-body">
                        <p class="media-card-copy">This App is a social Twitter-like clone with user signup/authentication and message timeline that allows signed in message owners to delete their posts and not others. It's constructed with MongoDB and Mongoose with the utilization of ES2017 async/await functionalities.</p>
                        <p class="media-card-copy">This app utilizes cross origin sharing of resources with a front end of React and an Express.js backend database and authentication with JWT.</p>
                    </div>
                </li>
                <h5 class="sub-header">Memory Game&mdash;React</h5>
                <li class="media">
                    <img class="img-thumbnail" src="images/MemoryGame-react.PNG" alt="Memory Game React App">
                    <div class="media-body">
                        <p class="media-card-copy">This App is a fun, simple memory matching game, utilizing prop-types and an array shuffling package to handle the random array of colors to match up for each new game.</p>
                        <p class="media-card-copy">You can find this app depolyed to <a href="https://stormy-retreat-57450.herokuapp.com">heroku</a>.</p>
                    </div>
                </li>

            </ul>
          
            <div class="third" id="testimonials">
                <h4 class="section-title">Testimonials</h4>
                <p class="section-subtitle">Check out what people are saying about this Full Stack Web Developer, Mike Hibbard:</p>
                <div class="testimonial-cards__wrapper">
                    <div class="testimonial-card__wrap">
                        <div class="testimonial__card-img testimonial__card-img-1"></div>
                        <div class="testimonial__card-copy-wrap">
                            <div class="testimonial__card-name">Nicolas Giusti, AirType</div>
                            <div class="testimonial__card-copy">"Mike is a dedicated worker; he has always had a passion for learning and is driven to do the best work he can. For the last 8 years that I 
                                have known him, I have always been able to count on him helping however he could. He has one of the best work ethics of anyone I know and would do anything at the drop of 
                                a hat to help somebody he knows."
                            </div>
                        </div>
                    </div>

                    <div class="testimonial-card__wrap">
                        <div class="testimonial__card-img testimonial__card-img-2"></div>
                        <div class="testimonial__card-copy-wrap">
                            <div class="testimonial__card-name">Andy Johnson, Grove Community Church Pastor &mdash;Client</div>
                            <div class="testimonial__card-copy">
                            "Working with Mike is an amazing experience. Mike has never missed a deadline, and he has always brought the highest quality work to the table. He is able to walk us through each element of our site and explain the best options. The end result is stunning! I would not hesitate to recommend Mike to any organization!"
                            </div>
                        </div>
                    </div>


                </div>
            </div>

            <hr class="my-4">

            <!-- <div>
                <p>A little about the path I've taken with my skills to get me here in this present circumstance that is not laid out in the about section.</p>
            </div> -->
            
            <!-- Button trigger modal -->
            <button type="button" class="btn btn-lg btn-secondary mb-3 animated infinite pulse slow" data-toggle="modal" data-target="#resumePane">
                    Resum&eacute;
            </button>


        </div>
    </div>
</section>




<% include ./partials/footer %>