<% include ./partials/header %>


<section class="splash" id="home">
    <div class="container">
        <div class="jumbotron" id="hero">
            <h1 class="display-1">Full Stack Web Developer</h1>
            <p class="lead">I'm Michael Hibbard. I'm looking to break into the web development industry.</p>
            <hr class="my-4">
            <p>My background is in Mathematics</p>
        </div>
    </div>
    <div class="image overlay">
        <img class="d-block w-100 h-100" src="images/mathboard.jpg" alt="Mathematics image">
    </div>
</section>

<section class="second" id="about">
    <div class="container white-back shadow">
        <div class="p-3 mb-5">
        <h4>Who is Michael Hibbard?</h4>
        <p class="lead">Who you are, What you do, Hobbies</p>

        <a role="button" class="btn btn-sm btn-secondary" href="/about">More about me</a>
        </div>
    </div>
</section>

<section class="third" id="work">
    <div class="container white-back shadow">
        <div class="p-3 mb-5">
            <h4>What</h4>
            <p class="lead">Work Experience and websites</p>
            
            <ul class="list-unstyled">
                <li class="media">
                    <img class="img-thumbnail w-50" src="images/GroveConstructSplash.png" alt="The Grove Church version 1">
                    <div class="media-body">
                        <h5 class="mt-0 mb-1">The Grove Community Church</h5>
                        <p>Full stack set up with Express and hosted on Linux-based servers. In search of professional experience I approached a local church and coffee house to build a full stack website for them free of charge.</p>
                        <p>This project is the culmination of my web development skills and it is continuing to teach me more every time I work on it. After constructing most of the site in Bootstrap, I was not satisfied with the look and feel of the site. Since I wasn't happy I knew my client wouldn't be either.</p>
                        <p>So I started over.</p>
                    </div>
                </li>
                <li class="media">
                    <img class="img-thumbnail w-50" src="images/NewGroveHome.png" alt="The Grove Church version 2">
                    <div class="media-body">
                        <h5 class="mt-0 mb-1">The Grove Community Church 2.0</h5>
                        <p>Full </p>
                        <p>This project</p>
                    </div>
                </li>
                <li class="media">
                    <img class="img-thumbnail w-50" src="images/todoApp.jpg" alt="Todo App">
                    <div class="media-body">
                        <h5 class="mt-0 mb-1">SPA - Todo API with MongoDB</h5>
                        <p>Single Page App built in JS utilizing some jQuery and data persistance. Full stack set up with NPM modules: Express, mongoose and MongoDB.</p>
                        <p>This project was revisited: Utilizing the API written initially, a React frontend was built with the API backend and required the use of cross origin resource sharing.</p>
                    </div>
                </li>
                <li class="media">
                    <img class="img-thumbnail w-50" src="images/BlogHome.jpg" alt="Blog App">
                    <div class="media-body">
                        <h5 class="mt-0 mb-1">RESTful Blog App</h5>
                        <p>Blog App built with Express and MongoDB. This app showcases the RESTful architecture with the CRUD data manipulation when handling the data persistance.</p>
                    </div>
                </li>
                <li class="media">
                    <img class="img-thumbnail w-50" src="images/RecipeReactApp.jpg" alt="React Recipe App">
                    <div class="media-body">
                        <h5 class="mt-0 mb-1">Recipe App built with React</h5>
                        <p>Constructed with the help of the NPM module create-react-app, this application marks the beginning of my learning of react.</p>
                        <p>This app undergoes many stages, beginning with basic default props and modifying the code later for app-level state and will include some react router implementation.</p>
                    </div>
                </li>
            </ul>
          
            <div class="third" id="testimonials">
                <h4>Testimonials</h4>
                <p class="lead">Check out what people are saying about this Full Stack Web Developer, Michael Hibbard:</p>

            </div>
        </div>
    </div>
</section>

<section class="fourth" id="skills">
    <div class="container white-back shadow">
        <div class="p-3 mb-5">
            <h4>Skills Section</h4>
            <p class="lead">What my skills are, with a resum&eacute; link somewhere here.</p>
            <!-- Nav tabs -->
            <ul class="nav nav-tabs" id="myTab" role="tablist">
                <li class="nav-item">
                    <a class="nav-link active" id="progLan-tab" data-toggle="tab" href="#progLan" role="tab" aria-controls="progLan" aria-selected="true">Programming Languages</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="hardSkill-tab" data-toggle="tab" href="#hardSkill" role="tab" aria-controls="hardSkill" aria-selected="false">Hard Skills</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="softSkill-tab" data-toggle="tab" href="#softSkill" role="tab" aria-controls="softSkill" aria-selected="false">Soft Skills</a>
                </li>
            </ul>

            <div class="tab-content">
                <div class="tab-pane fade show active" id="progLan" role="tabpanel" aria-labelledby="progLan-tab">
                    <ul>
                        <li>JavaScript</li>
                        <li>HTML5</li>
                        <li>CSS</li>
                        <li>Command Line</li>
                    </ul>
                </div>
                <div class="tab-pane fade" id="hardSkill" role="tabpanel" aria-labelledby="hardSkill-tab">
                    <div class="row">
                        <div class="col-md-4 col-6">
                            <ul>
                                <li>Express.js</li>
                                <li>Node.js/NPM</li>
                                <li>React.js</li>
                                <li>Bootstrap</li>
                                <li>jQuery</li>
                            </ul>
                        </div>
                        <div class="col-md-4 col-6">
                            <ul>
                                <li>APIs</li> 
                                <li>MongoDB</li>
                                <li>SCSS/SASS</li>
                                <li>RESTful Routing</li>
                                <li>AJAX</li>
                            </ul>
                        </div>
                        <div class="col-md-4 col-6">
                            <ul>
                                <li>Vue.js</li>
                                <li>EJS</li>
                                <li>JSON/XML</li>
                                <li>D3</li>
                                <li>ES2015</li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="tab-pane fade" id="softSkill" role="tabpanel" aria-labelledby="softSkill-tab">
                    <ul>
                        <li>Adaptability</li>
                        <li>Work ethic</li>
                        <li>Problem solving</li>
                        <li>Critical thinking</li>
                        <li>Perseverance</li>
                    </ul>
                </div>
                <!-- <div class="tab-pane fade" id="settings" role="tabpanel" aria-labelledby="settings-tab">
                    And now there are some settings!
                </div> -->
            </div>

            <hr class="my-4">

            <div>
                <p>A little about the path I've taken with my skills to get me here in this present circumstance that is not laid out in the about section.</p>
            </div>
            
            <!-- Button trigger modal -->
            <button type="button" class="btn btn-sm btn-secondary mb-3 animated infinite pulse slow" data-toggle="modal" data-target="#resumePane">
                    Resum&eacute;
            </button>
            
            <!-- Modal -->
            <div class="modal fade" id="resumePane" tabindex="-1" role="dialog" aria-labelledby="resume" aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title text-dark" id="resume">Resum&eacute;</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body text-dark">
                            <p>Thank you for your interest, choose download for my resum&eacute;.</p>
                            <p>For my contact information navigate to my contact page from the navbar.</p>
                            <p>Sincerely,</p>
                            <p>Michael Hibbard</p>
                        </div>
                        <div class="modal-footer">
                            <a role="button" class="btn btn-secondary" href="/resume">Download</a>
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


<% include ./partials/footer %>