<% include ./partials/header %>


<section class="splash" id="home">
    <div class="container">
        <div class="jumbotron" id="hero">
            <h1 class="display-1">Full Stack Web Developer</h1>
            <p class="lead">I'm Michael Hibbard. I'm looking to break into the web development industry.</p>
            <hr class="my-4">
            <p>My background is in Mathematics</p>
        </div>
    </div>
    <div class="image">
        <img class="d-block w-100 h-100" src="images/mathboard.jpg" alt="Mathematics image">
    </div>
</section>
<section class="second" id="about">
    <div class="container">
        <h5>About Mike</h5>
        <p class="lead">Who you are, What you do, Hobbies, Testimonials</p>
        <p class="text-dark">
            Lorem ipsum dolor amet fashion axe slow-carb ut readymade literally offal 8-bit la croix tousled pariatur bushwick hexagon. Mustache coloring book cloud bread salvia farm-to-table officia dolore taiyaki copper mug kogi pour-over tousled skateboard direct trade art party. Tumeric poutine cronut, veniam chillwave bespoke magna typewriter hoodie prism. Bitters bushwick edison bulb laboris brunch, put a bird on it consectetur aliquip raclette gluten-free drinking vinegar shoreditch pork belly scenester anim. Reprehenderit trust fund knausgaard, pickled tofu magna kitsch organic do eiusmod consequat keytar.

            Tousled truffaut VHS, meditation woke chartreuse 90's activated charcoal velit ut try-hard selvage 8-bit. Esse twee next level offal iceland id. In voluptate keffiyeh, crucifix vaporware bicycle rights eu banh mi lyft kombucha literally. Neutra marfa occupy, migas humblebrag fanny pack taxidermy. Hella try-hard ullamco tilde single-origin coffee, skateboard consequat cold-pressed 3 wolf moon thundercats tofu irure. Subway tile locavore dreamcatcher, velit hammock 8-bit portland sustainable. Aesthetic est iPhone tumeric succulents hot chicken organic.

            Seitan squid cronut stumptown, pour-over fam lo-fi affogato. Chambray kogi meditation, tbh actually salvia 3 wolf moon celiac mumblecore. Single-origin coffee PBR&B gentrify cred neutra esse poke bespoke VHS succulents taiyaki magna health goth twee sustainable. Aute copper mug fixie hella exercitation snackwave. Disrupt four dollar toast viral microdosing. La croix wolf helvetica, chia umami live-edge leggings est esse ad in you probably haven't heard of them velit.

            PBR&B vinyl aliquip, meggings sustainable nulla direct trade anim ea thundercats health goth bitters copper mug est. Migas aesthetic seitan, pariatur williamsburg chia skateboard eu cray aute gentrify slow-carb neutra velit. Pork belly duis ipsum salvia, distillery direct trade fanny pack chia small batch. Chartreuse raclette proident, voluptate nostrud pour-over echo park freegan mumblecore art party waistcoat roof party direct trade artisan. Blue bottle ethical ea, locavore aute jianbing air plant officia waistcoat. Ea tofu farm-to-table, mollit kinfolk you probably haven't heard of them readymade ethical single-origin coffee next level. Leggings umami YOLO 3 wolf moon pop-up street art direct trade poke pour-over normcore pinterest tacos.

            You probably haven't heard of them squid waistcoat cred kinfolk fanny pack ethical offal hammock. Mustache portland squid, street art in williamsburg selfies food truck twee beard biodiesel. Ennui labore DIY, fanny pack incididunt occaecat neutra aesthetic chambray godard nulla hell of readymade portland. Laboris narwhal green juice forage cold-pressed quinoa. Deserunt trust fund in twee chartreuse sed.

            Culpa slow-carb labore enamel pin ugh incididunt. Prism mustache fingerstache next level. Occupy hella cold-pressed kale chips, dolore cloud bread id farm-to-table snackwave messenger bag banh mi woke chartreuse glossier. Cliche nostrud blog, truffaut deep v raw denim iceland proident meggings blue bottle chillwave whatever yuccie pop-up.

            Schlitz exercitation forage 90's meggings, taiyaki hammock everyday carry XOXO subway tile nostrud. Biodiesel bushwick godard, elit before they sold out chia beard shaman ea semiotics consequat banh mi copper mug. Chambray pitchfork snackwave pug twee viral. Tofu bespoke consectetur, polaroid esse chillwave small batch dreamcatcher. Slow-carb do occaecat kogi post-ironic excepteur.

            Kale chips minim hammock semiotics cold-pressed affogato veniam, shabby chic fixie man bun. Organic cardigan prism hexagon 8-bit. Wayfarers fashion axe stumptown adaptogen, DIY dolore tousled air plant sed viral meggings salvia pabst hoodie reprehenderit. Fashion axe art party hoodie dolore nisi swag humblebrag aute.

            Letterpress culpa viral ut typewriter, butcher gastropub tempor. Jean shorts crucifix pinterest, chambray iPhone chartreuse vaporware williamsburg magna culpa. Knausgaard yr irure, microdosing ut deserunt skateboard wayfarers. Godard bicycle rights artisan duis brunch. Enim ex ullamco, neutra echo park vice art party viral tote bag.

            Skateboard reprehenderit heirloom sartorial ipsum readymade. Mustache proident eu viral raclette bespoke, ethical cold-pressed pabst letterpress non banh mi thundercats dolore. Irony farm-to-table gochujang +1 activated charcoal. 8-bit church-key ipsum actually thundercats farm-to-table meggings taxidermy whatever ramps chambray everyday carry occupy gochujang.

            Sriracha dreamcatcher VHS sunt. Sartorial ad voluptate helvetica sunt woke hashtag duis. Aliqua bitters thundercats vape laboris, laborum mlkshk sustainable. Polaroid next level laboris consequat marfa pabst. Meh ad everyday carry asymmetrical church-key ipsum bushwick copper mug knausgaard hexagon humblebrag art party.

            Incididunt shabby chic celiac, portland est excepteur pabst tumblr waistcoat laborum poutine retro leggings tbh. Mlkshk schlitz laboris beard non. Authentic occaecat vinyl man bun VHS vaporware leggings cupidatat et 8-bit meditation hell of nisi. DIY PBR&B butcher occaecat woke. Direct trade sint woke disrupt pop-up in wayfarers raw denim hot chicken truffaut.
        </p>
        <div class="shadow-lg p-3 mb-5 rounded">Cool little shadow box!</div>
    </div>
</section>
<section class="third" id="work">
<div class="container">
    <h5>Work Section</h5>
    <p class="lead">Work Experience and websites</p>
        <!-- Showcase items-->
            <!-- Button trigger modal -->
        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModalLong">
            Launch demo modal
        </button>
        
        <!-- Modal -->
        <div class="modal fade" id="exampleModalLong" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLongTitle">Modal title</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body text-dark">
                        Schlitz exercitation forage 90's meggings, taiyaki hammock everyday carry XOXO subway tile nostrud. Biodiesel bushwick godard, elit before they sold out chia beard shaman ea semiotics consequat banh mi copper mug. Chambray pitchfork snackwave pug twee viral. Tofu bespoke consectetur, polaroid esse chillwave small batch dreamcatcher. Slow-carb do occaecat kogi post-ironic excepteur.
    
                        Kale chips minim hammock semiotics cold-pressed affogato veniam, shabby chic fixie man bun. Organic cardigan prism hexagon 8-bit. Wayfarers fashion axe stumptown adaptogen, DIY dolore tousled air plant sed viral meggings salvia pabst hoodie reprehenderit. Fashion axe art party hoodie dolore nisi swag humblebrag aute.
    
                        Letterpress culpa viral ut typewriter, butcher gastropub tempor. Jean shorts crucifix pinterest, chambray iPhone chartreuse vaporware williamsburg magna culpa. Knausgaard yr irure, microdosing ut deserunt skateboard wayfarers. Godard bicycle rights artisan duis brunch. Enim ex ullamco, neutra echo park vice art party viral tote bag.
    
                        Skateboard reprehenderit heirloom sartorial ipsum readymade. Mustache proident eu viral raclette bespoke, ethical cold-pressed pabst letterpress non banh mi thundercats dolore. Irony farm-to-table gochujang +1 activated charcoal. 8-bit church-key ipsum actually thundercats farm-to-table meggings taxidermy whatever ramps chambray everyday carry occupy gochujang.
    
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <button type="button" class="btn btn-primary">Save changes</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="fourth" id="skills">
    <div class="container">
        <h5>Skills Section</h5>
        <p class="lead">What my skills are, with a resum&eacute; link somewhere here.</p>
    </div>
</section>


<% include ./partials/footer %>