* {
    scroll-behavior: smooth;
}

body {
    font-family: 'Merienda', cursive;
    background-color: #fff;
}

section {
    position: relative;
    height: 100%;
    color: #212529;
}

.second {
    /* background-color: lightslategrey; */
    padding-top: 10vh;
}

.third {
    /* background-color: lightskyblue; */
    padding-top: 10vh;
}

.fourth {
    /* background-color: lightblue; */
    padding-top: 10vh;
}

#hero{
    background-color: rgba(245, 245, 245, 0.1);
    /* text-align: center; */
    padding-top: 30vh;
    z-index: 1;
    position: relative;
    height: 100%;
    color: white;
}

.image{
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    z-index: -1;
    margin: 0;
    padding: 0;
}

.overlay:before {
    position: absolute;
    content:" ";
    top:0;
    left:0;
    width:100%;
    height:100%;
    display: block;
    z-index:0;
    background-color: rgba(0,0,0,0.65);
}

nav.navbar {
    background-color: whitesmoke;
    opacity: .88;
}

nav.navbar:hover {
    opacity: .95;
}

.footer {
    background-color: rgba(0,0,0,0.65);
}

.footer p {
    font-size: .75rem;
    color: white;
}

.connect a i {
    text-decoration: none;
}

@media (max-width: 576px) {
    #hero {
        padding-top: 10vh;
    }
}
