* {
    scroll-behavior: smooth;
}

body {
    font-family: 'Merienda', cursive;
    font-size: 1.25vw;
    background-color: #dbdbdb;
}

section {
    position: relative;
    height: 100%;
    color: #212529;
}
.section-title {
    text-align: center;
    font-size: 8vw;
    font-weight: bold;
    margin: 4vw 0;
}
.media {
    flex-direction: column;
    margin: 5vw 2vw;
    align-items: center;
}
.media-body {
    width: 100%;
    margin: 3vw;
}
.sub-header{
    font-size: 5vw;
    font-weight: bold;
    text-align: center;
}
.media-card-copy {
    font-size: 3vw;
}

.container {
    padding: 0;
    border-radius: 10px;
}

.white-back {
    background-color: #fff;
}

.second, .third, .fourth {
    padding-top: 20vw;
    margin-top: -17vw;    
}

#hero{
    background-color: rgba(245, 245, 245, 0.1);
    /* text-align: center; */
    padding: 10vw 0 0;
    position: relative;
    z-index: 1;
    height: 100%;
    color: white;
    text-align: center;
}
.display-1 {
    font-size: 12vw;
}
.hero-sub-header {
    font-size: 2.5vw;
    width: 65%;
    margin: 0 auto;
}

.image{
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    z-index: -1;
    margin: 0;
    padding: 0;
}

.overlay:before {
    position: absolute;
    content:" ";
    top:0;
    left:0;
    width:100%;
    height:100%;
    display: block;
    z-index:0;
    background-color: rgba(0,0,0,0.65);
}

nav.navbar {
    background-color: whitesmoke;
    opacity: .88;
}

nav.navbar:hover {
    opacity: .95;
}

.fourth li a.nav-link {
    color: #4A5352;
}

.fourth li a.nav-link:hover,
.fourth li a.nav-link:active {
color: #242A2A;
}

.footer {
    background-color: rgba(0,0,0,0.65);
}

.footer p {
    font-size: .75rem;
    color: white;
}

.end-link:link,
.end-link:visited {
    text-decoration: none;
    color: #dbdbdb;
}

.end-link:hover,
.end-link:active {
    color: #044485;
}

.connect a i {
    text-decoration: none;
}

.connect {
    transition: all .2s;
}

.connect:link,
.connect:visited {
    text-decoration: none;
}

.connect:hover {
    transition: all .4s;
    transform: translateY(-5px);
    text-shadow: 0 15px 25px rgba(0,0,0,0.4);
}

.connect:active {
    transition: all .4s;
    transform: translateY(-2px);
    text-shadow: 0 7px 17px rgba(0,0,0,0.4);
}

/* About Section card styles */

.about-card__wrap {
    display: flex;
    justify-content: center;
    margin: 4vw 0;
    width: 100%;
    padding: 2%;
    box-shadow: 0 1vw 1vw 0 #dbdbdb;
}
.about-card__img {
    display: inherit;
    background-repeat: no-repeat;
    width: 40%;
}
.about-card__copy {
    display: inherit;
    width: 60%;
    font-size: 1.5vw;
    padding: 2%;
}

/* Testimoninal styles */

.testimonial-cards__wrapper {
    display: flex;
    justify-content: space-around;
    margin: 5vw 0;
    width: 100%;
}
.testimonial-card__wrap {
    width: 30%;
    padding: 2%;
    box-shadow: 0 1.5vw 1.5vw 0 #dbdbdb;
}
.testimonial__card-img {
    height: 15vw;
    background: center center/cover no-repeat;
    width: 100%;
    border-radius: 50%;
}
.testimonial__card-copy-wrap {
    width: 100%;
}
.testimonial__card-name {
    font-size: 1.5vw;
    padding-bottom: 1vw;
}




@media (min-width: 576px) {
    /* #hero {
        padding-top: 10vh;
    } */
    .media {
        flex-direction: column;
    }
    .section-title {
        font-size: 5vw;
    }
    .display-1 {
        font-size: 8vw;
    }
}

@media (min-width: 768px) {
    /* #hero {
        padding-top: 15vh;
    } */
    .media {
        flex-direction: row;
    }
    .img-thumbnail {
        max-width: 45%;
    }
    .sub-header {
        font-size: 3vw;
    }
    .media-card-copy {
        font-size: 1.5vw;
    }
}

@media (min-width: 1200px) {
    /* #hero {
        padding-top: 30vh;
    } */
}
/* Small devices (landscape phones, 576px and up)
@media (min-width: 576px) { ... }

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) { ... }

// Large devices (desktops, 992px and up)
@media (min-width: 992px) { ... }

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) { ... } */